.diller-product {
    background-color: rgb(197, 241, 152);
    border-radius: 10px;
    width: 97%;
    display: flex;
    justify-content: space-evenly;
    border: solid 1px black;
    margin: 2px 0;
}

.diller-product__field {
    width: 100px;
    margin: 0;
}

.diller-product__key {
    color: black;
    text-decoration: underline;
}

.diller-product__value {
    color: black;
}