.prosept-product-popup {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

.prosept-product-popup_opened {
    visibility: visible;
}

.prosept-product-popup__overlay {
    width: 100%;
    min-height: 150%;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    opacity: .5;
    background: #000000;
    z-index: 1;
}

.prosept-product-popup__wrap {
    position: fixed;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
    top: 0;
    left: 0;
    margin: calc(10vh) calc(50vw - 215px);
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
    overflow-y: auto;
}

.prosept-product-popup__field {
    margin: 0;
    padding: 5px 0;
    display: flex;
    align-items: flex-start;
}

.prosept-product-popup__key {
  margin: 0;
  width: 200px;
  text-decoration: underline;
}

.prosept-product-popup__value {
  margin: 0;
  width: 200px;
}