.statistics {
    display: flex;
    flex-direction: column;
    width: 1140px;
    margin: 0 auto;
    flex: 1 0 auto;
    align-items: center;
}

.statistics__header {
    width: 100%;
    text-align: center;
}

.statistics__wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}